version: '3'
services:
  front:
    build:
      context: .
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fundease.entrypoints=web"
      - "traefik.http.routers.fundease.rule=Host(`your.domain.com`)"
      - "traefik.http.routers.fundease.service=fundease"
      - "traefik.http.services.fundease.loadbalancer.server.port=3000"
    restart: unless-stopped
    networks:
      - public
  traefik:
    image: 'traefik'
    container_name: 'traefik'
    ports:
      - '80:80'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yml:/etc/traefik/traefik.yml
      - ./data:/etc/traefik
      - ./certs:/le
    restart: unless-stopped
    networks:
      - public

networks:
  public:
    external:
      true
